html, body {
    background-color: #F23658;
}

body{
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

header{
    padding: 10px;
    color: #FFFFFF;
    position: sticky;
}

h3{
    padding-left: 50px;
}
section{
    height: 446px;
    background-color:#FFFFFF;
    border-radius: 10px 10px 0px 0px;
    overflow:scroll;
}

.input{
    padding: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(105, 100, 100);
}
.input_todo{
    padding: 0;
    border: 0 #FFFFFF;
    font-size: 20pt;
}

.input_todo:focus{
    outline: none;
}

.todo{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.btn_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.done_btn{
    margin-right: 30px;
    margin-top: 5px;
    font-size: 30px;
}
.edit_btn{
    margin-top: 5px;
    font-size: 30px;
}
.delete_btn{
    margin-top: 5px;
    font-size: 30px;
    margin-left: 30px;
}
.done_btn:active{
    color: red;
} 
.edit_btn:active{
    color: red;
}
.delete_btn:active{
    color: red;
}