html,
body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.icon{
    padding-left: 5%;
}

.icon:hover{
    color: rgb(236, 9, 9);
}

.input_section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}