html,
body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.icon{
    padding-left: 5%;
}

.icon:hover{
    color: rgb(236, 9, 9);
}

.input_section{
    size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}
.todo{
    box-sizing: border-box;
    font-size: 20px;
    padding-left: 70px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border: 1px solid rgba(212, 205, 205, 0.774);
    
}
.edit{
    padding-left: 130px;
}
.delete{
    padding-right: 10px;
}
i:hover {
    color: red;
}
/* #todo_list{
    
    border: 1px solid rgba(212, 205, 205, 0.774);

} */